altgraph
certifi
charset-normalizer
idna
importlib_metadata
packaging
pyinstaller
pyinstaller-hooks-contrib
requests
tqdm
urllib3
zipp
pathvalidate
halo
tabulate
requests-toolbelt
piexif
pillow
windows-curses