# Immich.config for Immich Photos

IMMICH_URL          = 192.168.1.11:2283                     # Change this IP by your Synology NAS IP or by your valid Immich URL
USERNAME            = username                              # Your username for Immich Photos
PASSWORD            = password                              # Your password for Immich Photos
ROOT_PHOTOS_PATH    = /volume1/homes/your_username/Photos   # Your root path to Immich Photos main folder. Tipically is /volume1/homes/your_username/Photos
