# Immich.config for Immich Photos

IMMICH_URL          = http://192.168.1.11:2283              # Change this IP by the IP that contains the Immich server or by your valid Immich URL
API_KEY             = username                              # Optional: Your API_KEY for Immich Photos (Your can create can API_KEY in your Account Settings-->API_KEY Keys)
USERNAME            = username                              # Optional: Your username for Immich Photos (mandatory if not API_KEY is providen)
PASSWORD            = password                              # Optional: Your password for Immich Photos (mandatory if not API_KEY is providen)
ROOT_PHOTOS_PATH    = /volume1/homes/your_username/Photos   # Your root path to Immich Photos main folder. Tipically is /volume1/homes/your_username/Photos
