# Synology.config for Synology NAS

NAS_IP              = 192.168.1.11                          # Change this IP by your Synology NAS IP
USERNAME            = username                              # Your username for Synology Photos
PASSWORD            = password                              # Your password for Synology Photos
ROOT_PHOTOS_PATH    = /volume1/homes/your_username/Photos   # Your root path to Synology Photos main folder. Tipically is /volume1/homes/your_username/Photos
