name: Build Executables for Multiple Platforms

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Permite ejecuci贸n manual del workflow

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-latest]  # macos-latest
#        os: [ubuntu-20.04]  # macos-latest
        arch: [x86_64, arm64]  # amd64 y arm64
#        arch: [x86_64]  # amd64 y arm64
        exclude:
          - os: windows-latest
            arch: arm64  # Windows solo se compila para x86 (32/64-bit)
        python-version: ["3.10.10"]

    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          
#      - name: Install dependencies (Linux/MacOS)
#        if: matrix.os != 'windows-latest'
#        run: |
#          python3 -m pip install --upgrade pip
#           pip3 install cibuildwheel
#           if [ -f src/requirements.txt ]; then pip install -r src/requirements.txt; fi
#        shell: bash
#
#      - name: Install dependencies (Windows)
#        if: matrix.os == 'windows-latest'
#        run: |
#         python3 -m pip install --upgrade pip
#         pip3 install cibuildwheel
#         if exist src\requirements.txt ( pip install -r src\requirements.txt )
#        shell: cmd

      # Compilaci贸n para Linux
      - name: Compile for Linux
        if: matrix.os == 'ubuntu-20.04'
        run: |
          cd src
          ARCHIVE_PATH=$(python3 _compile.py | tail -n 1)
          ARCHIVE_NAME=$(basename "$ARCHIVE_PATH")
          ARCHIVE_DIR=$(dirname "$ARCHIVE_PATH")
          
          echo "ARCHIVE_PATH=$ARCHIVE_PATH" >> $GITHUB_ENV
          echo "ARCHIVE_NAME=$ARCHIVE_NAME" >> $GITHUB_ENV
          echo "ARCHIVE_DIR=$ARCHIVE_DIR" >> $GITHUB_ENV
          shell: bash


      # Compilaci贸n para macOS (usando macos-latest)
      - name: Compile for MacOS
        if: matrix.os == 'macos-latest'
        run: |
          cd src
          ARCHIVE_PATH=$(python3 _compile.py | tail -n 1)
          ARCHIVE_NAME=$(basename "$ARCHIVE_PATH")
          ARCHIVE_DIR=$(dirname "$ARCHIVE_PATH")
          
          echo "ARCHIVE_PATH=$ARCHIVE_PATH" >> $GITHUB_ENV
          echo "ARCHIVE_NAME=$ARCHIVE_NAME" >> $GITHUB_ENV
          echo "ARCHIVE_DIR=$ARCHIVE_DIR" >> $GITHUB_ENV
          shell: bash

      # Compilaci贸n para Windows
      - name: Compile for Windows
        if: matrix.os == 'windows-latest'
        run: |
          cd src
          python3 _compile.py | tee tmp_output.log
          FOR /F "tokens=*" %%A IN ('type tmp_output.log') DO @SET ARCHIVE_PATH=%%A
          
          REM Extraer nombre del archivo (basename)
          FOR %%I IN (%ARCHIVE_PATH%) DO @SET ARCHIVE_NAME=%%~nxI
          
          REM Extraer ruta del directorio (dirname)
          FOR %%I IN (%ARCHIVE_PATH%) DO @SET ARCHIVE_DIR=%%~dpI
          
          echo ARCHIVE_PATH=%ARCHIVE_PATH% >> %GITHUB_ENV%
          echo ARCHIVE_NAME=%ARCHIVE_NAME% >> %GITHUB_ENV%
          echo ARCHIVE_DIR=%ARCHIVE_DIR% >> %GITHUB_ENV%
          shell: cmd

      - name: Debug Artifact Path
        run: |
          ls -l _built_versions/
          echo "Archivo a subir: ${{ env.ARCHIVE_PATH }}"
        shell: bash


      # Subir los ejecutables generados usando la ruta completa
      - name: Archive Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARCHIVE_NAME }}
          path: ${{ env.ARCHIVE_DIR }}/${{ env.ARCHIVE_NAME }}

